{% load static %}
{% block sidebar %}
<div class="app-brand demo">
    <a href="/" class="app-brand-link">
        <img src="{% static '/img/EDU.png' %}" style="height: 50px; width: auto; filter: drop-shadow(1px 1px 1px white)">
        <span class="app-brand-text demo menu-text fw-bold ms-2">A+EDU</span>
    </a>
</div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
    <li class="menu-item active open">
        <a href="{% url 'home' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div class="text-truncate">홈</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'evaluation' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-book"></i>
            <div class="text-truncate">강의실</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'chat' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-chat"></i>
            <div class="text-truncate">AI 학생</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="{% url 'board' %}" class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div class="text-truncate">게시판</div>
        </a>
    </li>

    {% endblock %}
</ul>
