{% block topbar %}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
    <!--  Brand demo (display only for navbar-full and hide on below xl) -->

    <!-- ! Not required for layout-without-menu -->

    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <span>［오늘의 명언］반복은 천재를 낳고, 믿음은 기적을 낳는다. － 안진수</span>

        <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <!-- Moke condition for displaying user avatar -->
                        <span>{{ user }} 님 환영합니다 😊　</span>
                        <img src="{{ user.avatar.url }}" alt class="w-px-40 rounded-circle" />
                    </div>
                </a>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="{% url 'mypage' %}">
                            <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                    <div class="avatar avatar-online">
                                        <!-- Moke condition for displaying user avatar -->

                                        <img src="{{ user.avatar.url }}" alt class="w-px-40 rounded-circle" />
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <span class="fw-medium d-block">{{ user }}</span>

                                    <small class="text-muted">{{ user.last_name }} {{ user.first_name }}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'mypage' %}">
                            <i class="bx bx-user me-2"></i>
                            <span class="align-middle">My Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'faq' %}">
                            <i class="bx bx-help-circle me-2"></i>
                            <span class="align-middle">FAQ</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li>
                        <a class="dropdown-item" href="/admin/">
                            <i class="bx bx-lock me-2"></i>
                            <span class="align-middle">Admin</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="/accounts/logout/">
                            <i class="bx bx-power-off me-2"></i>
                            <span class="align-middle">Sign out</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ User -->
        </ul>
    </div>
</nav>
{% endblock %}
