{% extends "../home/base.html" %}{% load static %} {% block contents %}
<div class="container-xxl flex-grow-1 container-p-y">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <h4 class="pt-3 mb-0">
        <span class="text-muted fw-light">강의실 /</span> {{ lecture.title }}
    </h4>

    <div class="card g-3 mt-5">
        <div class="card-body row g-3" id="courseBody">
            <div class="col-lg-10">
                <div
                    class="d-flex justify-content-between align-items-center flex-wrap mb-2 gap-1"
                >
                    <div class="me-1">
                        <h5 class="mb-1">{{ lecture.title }}</h5>
                        <p class="mb-1">
                            <span class="fw-medium">
                                {{ lecture.teacher }}
                            </span>
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="badge bg-label-danger"
                            >{{ lecture.subject }}</span
                        >
                        <i class="bx bx-share-alt bx-sm mx-4"></i>
                        <i class="bx bx-bookmarks bx-sm"></i>
                    </div>
                </div>
                <div class="card academy-content shadow-none border">
                    <div class="p-2">
                        <div class="cursor-pointer">
                            <video id="player" :key="picked_video_url" controls style="width: 100%">
                                <source id="videoSource" :src="picked_video_url" type="video/mp4"/>
                            </video>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="mb-2">강좌 요약</h5>
                        <p class="mb-0 pt-1">{{ lecture.summary|safe }}</p>
                        <hr class="my-4" />
                        <h5>By the numbers</h5>
                        <div class="d-flex flex-wrap">
                            <div class="me-5">

                               
                                <p class="text-nowrap">
                                    <i class="bx bxs-flag-alt bx-sm me-2"></i
                                    >언어: 한국어
                                </p>
                                <p class="text-nowrap">
                                    <i class="bx bx-file bx-sm me-2"></i>자막:
                                    없음
                                </p>
                            </div>
                            <div>
                                <p class="text-nowrap">
                                    <i class="bx bx-video bx-sm me-2"></i>Videos: {{ video_count }} 
                                </p>
                                <p class="text-nowrap">
                                    <i class="bx bxs-watch bx-sm me-2"></i
                                    >Run Time: {{ lecture.remain_time }}
                                </p>
                            </div>
                        </div>
                        
                        <hr class="my-4" />
                        <h5>강사</h5>
                        <div
                            class="d-flex justify-content-start align-items-center user-name"
                        >
                            <div class="avatar-wrapper">
                                <div class="avatar avatar-sm me-2">
                                    <img
                                        src="{{ lecture.teacher.avatar.url }}"
                                        alt="Avatar"
                                        class="rounded-circle"
                                    />
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <span class="fw-medium"
                                    >{{ lecture.teacher }}</span
                                >
                                <small class="text-muted">
                                    {{ lecture.teacher.cv|safe }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div
                    class="accordion stick-top accordion-bordered course-content-fixed"
                    id="courseContent"
                >
                    <ul
                        id="video-list"
                        style="list-style-type: none; padding-left: 0"
                    >
                        {% for video in videos %}
                        <li class="accordion-item shadow-none border border-bottom-0 mb-0 video"
                            data-id="{{ video.id }}" data-url="{{ video.file.url }}" data-second="{{ video.second }}"
                        >
                            <label
                                class="rounded-0 accordion-button collapsed video-list--second"
                                value="{{ video.second }}"
                                :class="{ 'bg-lighter': picked_video_url === '{{ video.file.url }}' }"
                                style="cursor: pointer"
                            >
                                {{ video.name }}
                                <input
                                    class="video-list--input"
                                    type="radio"
                                    value="{{ video.file.url }}"
                                    v-model="picked_video_url"
                                    style="display: none"
                                />
                            </label>
                            <form
                                action="{% url 'chat:page' lecture.title video.name %}"
                                method="POST"
                            >
                                {% csrf_token %}
                                <input
                                    class="video-list--id"
                                    type="hidden"
                                    name="video_id"
                                    value="{{ video.id }}"
                                />
                                <input
                                    type="hidden"
                                    name="user_id"
                                    value="{{ user.id }}"
                                />
                                <button
                                    class="bg-lighter border accordion-item"
                                    v-show="picked_video_url === '{{ video.file.url }}'"
                                    type="submit"
                                >
                                    <img
                                        src="{% static '/lecture/img/converse_with_ai.png' %}"
                                        style="width: 100%; padding: 25px"
                                    />
                                    Chat 연결
                                </button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <style>
        .plyr { border-radius: 7px; }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            app = new Vue({
                delimiters: ["[[", "]]"],
                el: '#courseBody',
                data: {
                    picked_video_id: null,
                    picked_video_url: $("#video-list .video-list--input").eq(0).attr("value"),
                    picked_video_second: 0,
                    player: null
                },
                mounted() {
                    this.picked_video_id = this.$el.querySelector('.video').dataset.id;
                    this.picked_video_url = this.$el.querySelector('.video').dataset.url;
                    this.picked_video_second = this.$el.querySelector('.video').dataset.second;

                    this.initPlyr();
                    this.player.on('ready', event => {
                        this.player.currentTime = parseFloat(this.picked_video_second);
                    });
                },
                watch: {
                    picked_video_url() {
                        this.initPlyr();
                    }
                },
                methods: {
                    initPlyr() {
                        if (this.player) {
                            this.player.destroy();
                        }
                        // 비디오 소스 직접 업데이트
                        var videoElement = document.getElementById('player');
                        var sourceElement = document.getElementById('videoSource');
                        sourceElement.setAttribute('src', this.picked_video_url);
                        videoElement.load();

                        this.player = new Plyr(videoElement);
                    }
                },
            });
            window.addEventListener('beforeunload', function(event) {
                const csrfToken = $('[name=csrfmiddlewaretoken]').val();

                $.ajax({
                    type: 'post',
                    async: false,
                    headers: { 'X-CSRFToken': csrfToken },
                    url: '{% url 'saveplayback' %}',
                    data: {
                        seconds: app.player.currentTime,
                        video_id: app.picked_video_id,
                    },
                });
            });
        });
    </script>
</div>
{% endblock %}
