{% load socialaccount %}
{% block popup %}
<div id="popup" class="popup-overlay">
    <div id='popup2' class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>로그인/회원가입</h2>

        <form class="user" method="post" onsubmit="return validateLoginForm()" action="{% url 'account_login' %}">
            {% csrf_token %}

            <div class="form-group">
                <input type="email" class="form-control form-control-user"
                    id="exampleInputEmail" aria-describedby="emailHelp"
                    placeholder="Enter Email Address..."
                    name="login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Password"
                    name="password">
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember
                        Me</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
        </form>
        
        <hr>
        
        <form class="user" action="{% provider_login_url 'google' %}" method='post'>
            {% csrf_token %}
            <button class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i>Login with Google
            </button>
        </form>
        
        <form class="user" action="{% provider_login_url 'naver' %}" method='post'>
            {% csrf_token %}
            <button class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i>Login with Naver
            </button>
        </form>
        
        <hr>
        
        <div class="text-center">
            <a class="small" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
        
        <div class="text-center">
            <a class="small" href="{% url 'account_signup' %}">Create an Account!</a>
        </div>
    </div>
</div>

<script>
    function openPopup() {
        event.preventDefault(); // 이벤트 전파 막기
    
        var popup = document.getElementById("popup");
        popup.style.visibility = "visible";
        popup.style.opacity = "1";
    }
    function closePopup() {
        var popup = document.getElementById("popup");
        popup.style.visibility = "hidden";
        popup.style.opacity = "0";
    }

    document.addEventListener("mouseup", function (e) {
        var popup = document.getElementById("popup2");
        var closeButton = document.querySelector(".close-btn");
        // 팝업 버튼을 클릭한 경우는 무시
        if (e.target !== closeButton && !popup.contains(e.target)) {
            closePopup();
        }
    });

    function validateLoginForm() {
        var email = document.getElementById("exampleInputEmail").value;
        var password = document.getElementById("exampleInputPassword").value;

        if (email.trim() === '' || password.trim() === '') {
            alert("Please enter both email and password.");
            return false; // Prevent form submission
        }

        return true; // Continue with form submission
    }
</script>
{% endblock %}