{% extends '../frontdoor/base.html' %}
{% load socialaccount %}
{% load static %}
{% load i18n %}
{% block contents %}
  <link href="{% static '/accounts/css/sb-admin-2.css' %}" rel="stylesheet" />
  <link href="{% static '/accounts/css/social-btn.css' %}" rel="stylesheet" />
  <link href="{% static '/accounts/css/signup.css' %}" rel="stylesheet" />
  {% include 'account/consent.html' %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="signup-container">
            <h2>{% trans 'Sign Up' %}</h2>

            <form method="post" action="." class="signup">
              {% csrf_token %}

              {% if form.errors %}
                <p style="color: red">양식에 맞게 작성해주세요.</p>
              {% endif %}
              <div class="form-group">
                <!-- User-specific fields -->
                <div class="avatar-form">
                  <label for="uploadAvatar">
                    <input type="file" id="uploadAvatar" class="account-file-input" hidden="" accept="image/png, image/jpeg" name="avatar">
                    <img id="uploadedAvatar" src="{% static 'frontdoor/img/blank profile.png' %}" title="이미지" />
                  </label>
                </div>
                <div class="basic-forms">{{ form.as_table }}</div>
                <!-- Other form fields can be added if needed -->
              </div>

              <button type="submit" class="btn btn-primary btn-user btn-block bt">{% trans 'Sign Up' %}</button>
            </form>
            <script src="{% static '/accounts/js/read-image.js' %}"></script>

            <hr />
            {% include 'account/socialbuttons.html' %}
            <hr />

            <p>
              {% trans '이미 계정이 있으신가요?' %} <a href="{% url 'account_login' %}">{% trans 'Log in' %}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
