{% extends '../frontdoor/base.html' %} {% load static %} {% block contents %}
  <link href="{% static '/frontdoor/css/footer.css' %}" rel="stylesheet" />

  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100" style="margin-right: 0; width: 50%">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">AI EduBot.</h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline" style="display: flex; flex-direction: column">
          {% if user.is_authenticated %}
            <p class="text-white-75 mb-5" style="color: wheat">AI EDU는 교사가 되어 AI EduBot에게 지식을 전달하고, 이를 통해 교육 방법의 효과를 직접 평가할 수 있는 공간을 제공합니다. 사용자는 다양한 교육 내용을 AI에게 가르치며, AI는 학습 과정을 거쳐 해당 과목에 대한 성취도 평가 시험을 치르게 됩니다.</p>
            <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">Start</a>
          {% else %}
            <p class="text-white-75 mb-5" style="color: wheat">AI EDU는 교사가 되어 AI EduBot에게 지식을 전달하고, 이를 통해 교육 방법의 효과를 직접 평가할 수 있는 공간을 제공합니다. 사용자는 다양한 교육 내용을 AI에게 가르치며, AI는 학습 과정을 거쳐 해당 과목에 대한 성취도 평가 시험을 치르게 됩니다.</p>
            <a class="btn btn-primary btn-xl" href="{% url 'account_login' %}">Start</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <!-- About -->
  <section class="page-section bg-primary" id="news">
    <div class="carousel">
      <div class="carousel-item active">
        <img src="{% static 'frontdoor/img/banner (1).png' %}" alt="Slide 1" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'frontdoor/img/banner (2).png' %}" alt="Slide 2" />
      </div>
      <div class="carousel-item">
        <img src="{% static 'frontdoor/img/banner (3).png' %}" alt="Slide 3" />
      </div>
    </div>
  </section>
  <!-- Services -->
  <footer>
    <div class="title-container">
      <h1>AIVLE TEAM 3조를 소개합니다!</h1>
    </div>
    <div class="emoji-container">
      <!-- Add your emojis here using <img> tags -->
      <img src="{% static 'frontdoor/img/robot2.png' %}" alt="Emoji" class="emoji" />
      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Jinsoo.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">저는 우리 조 귀염둥이 안진수입니다!</span>
      </div>

      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Yeongjin.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">연준러버 김영진입니다!</span>
      </div>
      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Seungho.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">삼성SDS 신입사원 유승호입니다!</span>
      </div>
      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Jinwoo.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">에이블 조각미남 김진우입니다!</span>
      </div>
      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Woncheol.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">코딩박사 정원철입니다!</span>
      </div>
      <div class="emoji-wrapper">
        <img src="{% static 'frontdoor/img/Hyeongseop.png' %}" alt="Emoji" class="emoji" />
        <span class="speech-bubble">리무~~</span>
      </div>
      <img src="{% static 'frontdoor/img/babyRobot__5.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/robot4.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/babyRobot__1.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/robot5.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/babyRobot__2.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/babyRobot__3.png' %}" alt="Emoji" class="emoji" />
      <img src="{% static 'frontdoor/img/robot1.png' %}" alt="Emoji" class="emoji" />
      <!-- Add more <img> tags for each emoji you have -->
    </div>
  </footer>
{% endblock %}
