{% extends "../base.html" %} {% load static %} {% block contents %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">게시판 /</span> 게시판</h4>

    <div class="app-ecommerce-category">
        <!-- Category List Table -->
        <div class="card">
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="card-header d-flex flex-wrap py-0" style="margin: 10px 0; justify-content: space-between">
                        <div class="me-5 ms-n2 pe-5">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label><input type="search" class="form-control" placeholder="Search" aria-controls="DataTables_Table_0" /></label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start justify-content-md-end align-items-baseline">
                            <div class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center mb-3 mb-sm-0 gap-3 pt-0">
                                <div class="dataTables_length mt-0" id="DataTables_Table_0_length">
                                    <label
                                        ><select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="7">7</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="70">70</option>
                                            <option value="100">100</option>
                                        </select></label
                                    >
                                </div>
                                <div class="dt-buttons">
                                    <button class="dt-button add-new btn btn-primary ms-2">
                                        <a href="{% url 'board:create' %}" style="color: white"><i class="bx bx-plus me-0 me-sm-1"></i>새 글 쓰기</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="datatables-category-list table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th class="control sorting_disabled" style="width: 4px" aria-label=""></th>
                                <th>제목</th>
                                <th class="text-nowrap text-sm-end sorting_disabled" aria-label="Total Earning" style="width: 250px">작성 시간</th>
                                <th class="text-nowrap text-sm-end sorting" style="width: 100px">작성자</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in post_all %}
                            <tr class="odd">
                                <td class="control" style="" tabindex="0"></td>
                                <td class="sorting_1">
                                    <div class="d-flex align-items-center">
                                        <a class="d-flex flex-column justify-content-center" href="/board/{{ post.id }}">
                                            <span class="text-body text-wrap fw-medium">{{ post.title }}</span><span class="text-muted text-truncate mb-0 d-none d-sm-block"><small>Tag</small></span>
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-sm-end">{{ post.created }}</div></td>
                                <td>
                                    <div class="fw-medium text-sm-end" style="display: flex; flex-direction: row-reverse; align-items: center">
                                        <div class="avatar"><img src="{{ post.author.avatar.url }}" alt="" style="border-radius: 50%; width: 2.375rem; height: 2.375rem" /></div>
                                        <div style="margin-right: 10px">{{ post.author }}</div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row mx-2">
                        <div class="col-sm-12 col-md-6"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 7 of 14 entries</div></div>
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                        <a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="DataTables_Table_0" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item"><a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="1" tabindex="0" class="page-link">2</a></li>
                                    <li class="paginate_button page-item next" id="DataTables_Table_0_next">
                                        <a href="#" aria-controls="DataTables_Table_0" role="link" data-dt-idx="next" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
