{% extends '../home/base.html' %} {% load static %} {% block contents %}
  <link href="{% static '/board/css/detail.css' %}" rel="stylesheet" />

  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><a href="{% url 'board:board' %}">게시글</a></h4>

    <div class="detail">
      <div>
        <h1>{{ post.title }}</h1>
        <div class="author d-md-flex align-items-md-center">
          <img class="w-px-40 rounded-circle" src="{{ post.author.avatar.url }}" />
          <div class="d-md-flex flex-lg-column author">
            <span>{{ post.author }}</span>
            <span class="created">{{ post.created }}</span>
          </div>
        </div>
      </div>
      <hr /><br />
      <div>
        <br />
        {{ post.body|safe }}
        <br />
        {% if request.user == post.author %}
          <div class="d-md-flex">
            <div class="dt-buttons">
              <button class="dt-button add-new btn btn-primary ms-2"><a href="{% url 'board:update' post.id %}"><i class="bx bx-plus me-0 me-sm-1"></i>글 수정하기</a></button>
            </div>
          </div>
        {% endif %}

        <hr />
        <p>댓글</p>
        <!-- 댓글 템플릿 -->
        {% for comment in comment_all %}
          <div class="comment-container">
            <div class="author d-md-flex align-items-md-center">
                <img class="w-px-40 rounded-circle" src="{{ comment.author.avatar.url }}">
                <div class="d-md-flex flex-lg-column">
                  <span>{{ comment.author }}</span>
                  <span class="created">{{ comment.created }}</span>
                </div>
              </div>

            <p class="message">{{ comment.message }}</p>
            {% if request.user == comment.author %}
              <a href="{% url 'board:delete_comment' post.id comment.id %}">삭제</a>
            {% endif %}
          </div>
          {% empty %}
          <p>댓글이 존재하지 않습니다.</p>
        {% endfor %}
        <hr />

        <form action="{% url 'board:create_comment' post.id %}" method="POST">
          {% csrf_token %}

          <label for="{{ comment_form.message.id_for_label }}">댓글 입력</label>
            <textarea name="{{ comment_form.message.name }}" id="{{ comment_form.message.id_for_label }}"
                placeholder="여러분들의 소중한 댓글을 입력해주세요."
                cols="{{ comment_form.message.widget.attrs.cols }}"
                rows="{{ comment_form.message.widget.attrs.rows }}"
                {% if comment_form.message.disabled %}disabled{% endif %}
                {% if comment_form.message.required %}required{% endif %}>
                {{ comment_form.message.value|default:'' }}
            </textarea>
            <button type="submit" class="btn btn-primary">제출</button>
        </form>
        <hr />

        <a href="{% url 'board:board' %}">목록가기</a>
      </div>
    </div>
  </div>

  <!-- / Content -->
{% endblock %}
